.job-details-page {
  margin-top: 10px;
}

.job-description {
  padding: 10px;
}

.job-requirements {
  margin-top: 10px;
  padding: 10px;
}
.job-skills {
  margin-top: 10px;
  padding: 10px;
}


/* collapse option job details items */

.job-items-collapse-option{
    display: flex;
    justify-content: space-between;
}

.collapse-icon-design{
    margin-right: 20px; 
}

