.job-details-page {
  margin-top: 10px;
}

.job-description {
  padding: 10px;
  margin-top: 10px;

}

.job-requirements {
  margin-top: 10px;
  padding: 10px;
}
.job-skills {
  margin-top: 10px;
  padding: 10px;
}

.job-company-address{
    margin-top: 10px;
    padding: 10px;
}

.job-company-info{
  margin-top: 10px;
  padding: 10px;
}

/* collapse option job details items */

.job-items-collapse-option{
    display: flex;
    justify-content: space-between;
}

.collapse-icon-design{
    margin-right: 20px; 
}

.collapse-icon-design:hover{
  background-color: brown;
  cursor: pointer;
  border-radius: 90px;
  height: 20px;
  width: 20px;
}


/* morejobs  */

.morejobs-design{
  margin-top: 15px;
}