.trending-job {
  margin-top: 15px;
}

.trending-job-title h4 {
  text-align: center;
  margin-top: 15px;
}
.line {
  display: block;
  width: 70px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(122, 122, 23);
}

.trending-job-item {
  padding: 10px;
  border: 1px dotted black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.trending-job-item:hover {
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

  cursor: pointer;
  transition-duration: 1s;
  background-color: rgb(234, 124, 21);
  color: white;
}

.trending-tag-userinfo {
  display: flex;
  justify-content: space-between;
}
.trending-tag {
  background-color: blueviolet;
  border-radius: 10px;
  padding: 5px;
  block-size: fit-content;
  color: white;
  width: fit-content;
  margin-left: 60px;
  font-size: 14px;
}


